:root {
	--offwhite: #f0f0f2; 
}

body {
	margin: 0;
	padding: 0;
	background-color: #01000f;
	font-family: font4;
	overflow: clip;
}

@font-face {
	font-family: font;
	src: url('Roboto-Regular.ttf');
}

@font-face {
	font-family: font2;
	src: url('Alte-Regular.ttf');
}

@font-face {
	font-family: font2-bold;
	src: url('Alte-Bold.ttf');
}

@font-face {
	font-family: font3;
	src: url('font.ttf');
}

@font-face {
	font-family: font4;
	src: url('blue_highway_rg.otf');
}

p {
	font-family: font4;
	font-size: 14px;
	margin: 0.2rem 0 0.2rem 0;
	color: var(--offwhite);
}

b {
	font-size: 16px;
}

h1 {
	font-weight: normal;
	font-size: 30px;
	color: var(--offwhite);
}

h3 {
	font-size: 30px;
	font-weight: normal;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
}

img {
	display: block;
	padding: 0px;
	margin: 0px;
}

input {
	height: 1rem;
	width: 14rem;
	margin: 1rem 2rem 0rem 0;
	padding: 1rem;
	border-radius: 100px;
	background-color: #01000f;
	border: 3px solid rgba(255, 255, 255, 0.4);
	color: var(--offwhite);
	font-size: 0.9rem;
	
	border: 2px solid rgba(255, 255, 255, 0.5);
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

input:focus {
	border: 2px solid #fff;
}

button {
	cursor: pointer;
	margin: 10px;
	margin-left: 0px;
	height: 30px;
	display: inline-block;
	height: 42px;
	margin: 1rem 2rem 1rem 0;
	padding: 0 1rem 0 1rem;
	border-radius: 100px;
	background-color: rgba(0,0,0,0);
	border: 2px solid rgba(255, 255, 255, 0.4);
	color: var(--offwhite);
	font-size: 16px;
}

button:hover {
	border: 2px solid #fff;
}

#checkDate, #random {
	cursor: pointer;
	margin: 10px;
	margin-left: 0px;
	height: 20px;
	display: inline-block;
	height: 35.63px;
	margin: 1rem 2rem 0.4rem 0;
	padding: 0 1rem 0 1rem;
	border-radius: 100px;
	background-color: var(--offwhite);
	border: 2px solid rgba(255, 255, 255, 0.4);
	color: rgb(20, 20, 20);
	font-size: 0.9rem;
}

#checkDate:hover, #random:hover {
	border: 2px solid #fff;
	background-color: rgba(0,0,0,0);
	color: var(--offwhite);
	-webkit-transition: 0.2s;
	transition: 0.2s;
	outline: none;
}

#checkDate:active, #random:active {
	background-color: #999;
	border: 2px solid rgba(255, 255, 255, 0.4);
	color: rgb(20, 20, 20);

	-webkit-transition: 0s;
	transition: 0s;
	outline: none;
}

.var {
	margin: 0px;
}

.sep {
	margin: 5px;
}

h1 {
	margin: 5px;
}

.title {
	margin: auto;
	text-align: center;
}

#big-text {
	margin-top: 4.5rem;
	margin-bottom: 5rem;
	font-size: 3.5rem;
}

#painting-info {
	display: inline-block;
	text-align: left;
}

#content {
	text-align: center;
}

#image {
	width: auto;
	height: 60%;
}

#painting-text {
	margin-top: 0.4rem;
}

#name {
	font-size: 1.4rem;
}

footer {
	position: absolute;
	bottom: 0rem;
	left: 0rem;
}

#reset-points {
}

.footer-stuff {
	display: inline-block;
	color: #888;
	margin-left: 0.5rem;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

#reset-points:hover {
	cursor: pointer;
	text-decoration: underline;
}